<%= form_for @owner do |f| %>
  <p>First Name</p><%= f.text_field :first_name %>
  <p>Last Name</p><%= f.text_field :last_name %>
  <p>Age</p><%= f.text_field :age %>
  <p>Race</p><%= f.text_field :race %>
  <p>Location</p><%= f.text_field :location %>
  <% if @owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

      <ul>
      <% @owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
